[Unit]
Description=Cheat.sh Server
Requires=chtsh-redis.service
After=chtsh-redis.service
StartLimitBurst=5
StartLimitIntervalSec=120

[Install]
WantedBy=default.target

[Service]
Restart=on-abnormal
RestartSec=15

[Container]
ContainerName=chtsh
Image=quay.io/glazing2928/chtsh:latest
AutoUpdate=registry
Network=chtsh.network
Network=public.network
Environment=CHEATSH_CACHE_REDIS_HOST=chtsh-redis
Environment=CHEATSH_SERVER_PORT=8002
Volume=chtsh.volume:/root/.cheat.sh
Label=traefik.enable=true
Label=traefik.http.routers.chtsh.rule=Host(`cht.x.home.arpa`)
Label=traefik.http.routers.chtsh.entrypoints=websecure
Label=traefik.http.routers.chtsh.tls.certresolver=ca
Label=traefik.http.services.chtsh.loadbalancer.server.port=8002

